.loader {
  background-color: var(--alpha-bg);
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  &::after {
    position: absolute;
    content: "";
    height: 100%;
    top: 0;
    width: 40%;
    min-width: 120px;
    background-image: linear-gradient(
      90deg,
      transparent,
      var(--loading-bg),
      transparent
    );
    animation: pulse 1.5s ease-in-out infinite;
  }
  &.mb-1 {
    margin-bottom: 1px;
  }
  &.mb-10 {
    margin-bottom: 10px;
  }
  &.big-title {
    height: 24px;
  }
  &.title {
    height: 14px;
  }
  &.subtitle {
    height: 10px;
  }
  &.square {
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: 10px;
  }
  &.circle {
    border-radius: 999px;
  }
  &.full-width {
    width: 100%;
  }
  &.half-width {
    width: 50%;
  }
  &.quarter-width {
    width: 25%;
  }
  &.button {
    height: 29px;
    border-radius: 999px;
    max-width: 122px;
  }
  &.icon {
    width: 32px;
    height: 32px;
    margin-left: 7px;
  }
}
.media-loader {
  display: flex;
  padding: 10px;
  .media-left {
    margin-right: 10px;
    width: 50%;
  }
  .media-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
  }
  .media-right {
    margin-left: unset;
  }
}
.mv-card-loader {
  margin-bottom: 30px;
}
@keyframes pulse {
  from {
    left: 0;
    transform: translateX(-100%);
  }
  to {
    left: 100%;
    transform: translateX(0);
  }
}
